
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>分区文章无线获取</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="分区文章无线获取"/>
    <meta name="description" content="分区文章无线获取"/>
    <link rel="stylesheet" href="/resources/js/layui/css/layui.css"/>
    <link rel="stylesheet" href="/resources/css/global.css"/>
</head>
<body>
<div class="fly-header layui-bg-black" style="background-color: #FFFFFF">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/resources/img/logos.png" alt="文章"/>
        </a>
    </div>
</div>

<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs">
                <a href="/">首页</a>
            </li>
            <li th:each="menu, List: ${head_nav_menu}" >
                <a th:href="${'/news/list?name=' + menu.get('name')}" th:text="${menu.get('name')}" target="_blank"></a>
            </li>
        </ul>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <span class="layui-breadcrumb" lay-separator=">">
              <a href="javascript:void(0)">首页</a>
              <a href="javascript:void(0)" th:text="${name}">八卦</a>
            </span>
        </div>
        <div class="layui-col-md8">
            <div class="fly-panel">
                <div class="fly-panel-title fly-filter">
                    <a>今日头条</a>
                </div>
                <ul class="fly-list">

                    <li th:each="news, List : ${newsList}">
                        <a href="javascript:;" class="fly-avatar">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心"/>
                        </a>
                        <h2>
                            <a class="layui-badge">文章</a>
                            <a th:href="${'/news/' + news.get('id')}" th:text="${news.get('title')}" target="_blank"></a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="javascript:;" >
                                <cite>贤心</cite>
                                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                <i class="layui-badge fly-badge-vip">VIP3</i>
                            </a>
                            <span>刚刚</span>

                            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>
                            <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
                            <span class="fly-list-nums">
                                <i class="iconfont icon-pinglun1" title="回答"></i> 66
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="fly-panel" style="margin-bottom: 0;">
                <ul class="fly-list">
                    <div style="text-align: center">
                        <div class="laypage-main">
                            <a href="javascript:;" class="laypage-next">更多求解</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">随机文章</dt>
                <dd th:each="news , itmes: ${randnews2}">
                    <a th:href="${'/news/' + news.get('id')}" th:text="${news.get('title')}" target="_blank"></a>
                </dd>
            </dl>

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">友情连接</dt>
                <dd th:each="news , itmes: ${randnews2}">
                    <a th:href="${'/news/' + news.get('id')}" th:text="${news.get('title')}" target="_blank"></a>
                </dd>
            </dl>

        </div>

    </div>

</div>

<div class="fly-footer">
    <p><a href="javascript:;" target="_blank">无线文章</a> 2017 &copy; <a href="javascript:;" target="_blank">文章</a></p>
    <p>
        <a href="javascript:;" target="_blank">网站详情</a>
        <a href="javascript:;" target="_blank">网站详情</a>
        <a href="javascript:;" target="_blank">网站详情</a>
    </p>
</div>

<script src="/resources/js/layui/layui.all.js"></script>
<script>
    layui.cache.page = '';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '/static/index/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '/resources/js/layui/lay/modules/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>

</body>
</html>